//- Generic error page when the server returns a non-404 error

extends layout.pug

block content 

  nav.nav
    a(href='/')
      span &larr;
      |  Back
  
  article.portfolio-error.box

      h1= error.message 
      h2 Error code: #{error.status} 
      details 
        summary Expand to read the error summary
        pre= error.stack

  nav.nav
    a(href='/')
      span &larr;
      |  Back
