//- Root homepage template.

extends layout.pug

block content

  article.portfolio-intro

    h1 Hey look, another portfolio!

    p Wow, amazing! This portfolio has been prepared as Project 6 of the Team Treehouse Full Stack JavaScript techdegree. It demonstrates an evolving skillset with server-side JavaScript, and uses Node.js, Express, and Pug to deliver customised HTML templates with information about different projects completed throughout the techdegree. I completed another portfolio website project as the final capstone submission for my previous Front End Web Development techdegree, and so aim to populate this submission with a few examples of my work from across the two programs. 

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls.main}`, alt=`${project.project_name}`)
            h5 #{project.project_name}

