<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap", rel="stylesheet") 
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/custom-styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="../static/images/profileCropped.jpeg", alt='')
        .dev-intro-box

          h5 Chris Adams

          p I'm a professional problem solver, who has recently made the move into technology and software development. In 2021, I completed formal qualifications in Front End Web Development, and am currently refining my skills in Full Stack JavaScript. Stay tuned!

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Chris Adams

      block content

  script(src='/static/js/script.js')