/* Note - The following are implemented to override providing styles in the styles.css stylesheet */
/* 
  General Styling
*/

body {
  font-family: "Noto Sans", sans-serif;
  background: rgb(26, 4, 60);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Rock Salt", cursive;
  color: rgb(37, 5, 85) !important;
}

:is(h1, h2, h3, h4, h5, h6, nav a) {
  transition: 0.5s color;
}

:is(h1, h2, h3, h4, h5, h6, nav a):hover {
  color: rgb(0, 206, 65) !important;
}

h1 {
  margin-bottom: 1.2em !important;
}

p {
  font-family: "Noto Sans", sans-serif;
}

.sidebar {
  background: rgb(26, 4, 60);
}

.sidebar h5 {
  font-family: "Rock Salt", cursive;
  color: rgb(0, 255, 8) !important;
}

.sidebar p {
  color: rgb(255, 255, 255);
}

.sidebar a {
  color: rgb(18, 225, 25);
}

.btn-link {
  background-color: rgb(26, 4, 60);
  transition: 0.5s color;
}

.btn-link:hover {
  color: rgb(18, 225, 25);
}

/* 
  Layout Adjustments
*/
.wrapper {
  display: flex;
  flex-flow: column;
}

article {
  flex-grow: 1;
  background-color: white;
}

nav {
  background-color: white;
}

/* 
  Error Handler 
*/
.portfolio-error {
  max-width: unset;
}

.error404-img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

p.error {
  max-width: 100ch;
}

details p {
  max-width: 100ch;
}
